{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
</head>
<body>

  <h2>General News</h2>
    <div class="container"> {{ macro.displayCatergory(general) }} </div>
  
  <h2>Business News </h2>
    <div class="container">{{ macro.displayCatergory(business) }}</div>
  
  <h2>Enterainment News</h2>
    <div class="container">{{ macro.displayCatergory(enterain) }}</div>

  <h2>Health</h2>
    <div class="container">{{ macro.displayCatergory(health) }}</div>

  <h2>Science</h2>
    <div class="container">{{ macro.displayCatergory(science) }}</div>

  <h2>Sport</h2>
    <div class="container">{{ macro.displayCatergory(sport) }}</div>

  <h2>Technology</h2>
    <div class="container">{{ macro.displayCatergory(tech) }}</div>

</body>
</html>