{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}

  
    <div class="container">
      <h2 class="text-center">General News</h2>
      {{ macro.displayCatergory(general) }} 
    </div>
  
  
    <div class="container">
      <h2 class="text-center">Business News </h2>
      {{ macro.displayCatergory(business) }}
    </div>
  
  
    <div class="container">
      <h2 class="text-center">Enterainment News</h2>
      {{ macro.displayCatergory(enterain) }}
    </div>

  
    <div class="container">
      <h2 class="text-center">Health</h2>
      {{ macro.displayCatergory(health) }}
    </div>

  
    <div class="container">
      <h2 class="text-center">Science</h2>
      {{ macro.displayCatergory(science) }}
    </div>

  
    <div class="container">
      <h2 class="text-center">Sport</h2>
      {{ macro.displayCatergory(sport) }}
    </div>
      
    <div class="container">
      <h2 class="text-center">Technology</h2>
      {{ macro.displayCatergory(tech) }}
    </div>


{% endblock %}