{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
</head>
<body>

  <h3>General News</h3>
    <div class="container"> {{ macro.displayCatergory(general) }} </div>
  
  <h3>Business News </h3>
    <div class="container">{{ macro.displayCatergory(business) }}</div>
  
  <h3>Enterainment News</h3>
    <div class="container">{{ macro.displayCatergory(enterain) }}</div>

  <h3>Health</h3>
    <div class="container">{{ macro.displayCatergory( health) }}</div>

  <h3>Science</h3>
    <div class="container">{{ macro.displayCatergory(science) }}</div>

  <h3>Sport</h3>
    <div class="container">{{ macro.displayCatergory(sport) }}</div>

  <h3>Technology</h3>
    <div class="container">{{ macro.displayCatergory(tech) }}</div>

</body>
</html>