{% macro displayCatergory(catergories) %}
    {% for cater in catergories %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 cater-card">
        <div class="card">
            <h2> {{ cater.name }}</h2>
            <hr>
            <p> {{ cater.description | truncate(70) }}</p>
            <p><sub>{{ cater.category }}</sub></p>
        </div>
        <div class="card-footer d-flex justify-content-around">
            <a href="/news/{{cater.id}}">View News</a>
        </div>
    </div>
    {% endfor %}
{% endmacro %}


{% macro displayNews(channel) %}
    {% for chan in channel %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 chan-card">
        <p> {{ chan.title }}</p>
        <img src="{{ chan.urlimg }}" alt="{{ chan.title|truncate(10)}}" class="img-responsive">
        <a href="/news/{{chan.url}}">{{chan.author}}</a>
    </div>
    {% endfor %}
{% endmacro %}