<nav class="navbar  navcustom">
  <ul class="nav justify-content-center">
    <li class="nav-item other">
      <!-- <input type="button" class="other" id="home" value='Home' > -->
    </li>
    <li class="nav-item">
      <a routerLink='/index' class="=nav-link title"><img src="http://cdn.onlinewebfonts.com/svg/img_318472.png" alt="logo" class="img-fluid"></a>
      <h2>NEWS APP</h2>
    </li>
    <li class="nav-item other">
      <!-- <input type="button" class="other" id="login" value="Articles"> -->
    </li>
  </ul>
</nav>
<hr>